@import 'src/styles/mixins/index.scss';

$yellow: #ffeb99;
$red: #e8998d;
$green: #6c9a8b;


.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.img {
  width: 100%;
}

.cardWrap {
  height: 70px;
  width: 350px;
  border: 1px solid black;
  border-radius: 0.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(215, 215, 215, 0.5);
  backdrop-filter: blur(3px);
}

.icon {
  width: 20px;
  margin-right: 5px;
}

.input {
  display: flex;
  align-items: center;
  border-radius: 0.6em;
  font-weight: 600;
}

.settingsWrap, .logOutWrap {
  display: flex;
  justify-content: flex-end;
  padding: 0px 10px;
  text-decoration: none !important;
  @media(max-width: 960px) {
    flex-direction: column;
  }
}

.publicLinkWrap {
  display: flex;
  justify-content: center;
  margin: 20px 0 10px 0;
  text-decoration: none !important;
}

.settingsBtn {
  @include button($yellow, .6em, .5em);
  color: black;
  font-size: 12px !important;
  margin: 15px 10px !important;
  width: 95px;
  text-align: center;
  display: inline-block;
}

.logOutBtn {
  @include button($red, .6em, .5em);
  font-size: 12px !important;
  margin: 0px 10px !important;
  width: 95px;
  text-align: center;
  display: inline-block;
}

.publicLink {
  @include button($green, .6em, .5em);
  font-size: 12px !important;
  margin: 0px 10px !important;
  padding: 15px;
  width: 220px;
  text-align: center;
  display: inline-block;
}
