@import 'src/styles/mixins/index.scss';

$yellow: #ffeb99;
$green: #6c9a8b;

body {
  font-family: 'ZapusSansRegular';
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: .05em;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

@include title(80px, 700px);

.link {
  text-decoration: none;
}

.btn {
@include button($green, 5rem, 3rem);
  margin-top: 170px;
}


@media(max-width: 960px) {
  .wrap {
    padding: 10px;
  }

  .title {
    font-size: 40px;
    margin-top: 20px;
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 300px }
  }

  .btn {
    margin-top: 300px;
  }
}
