body {
  font-family: 'ZapusSansRegular';
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;;
}

code {
  font-family: 'ZapusSansRegular';
}
